*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
}
.main-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-card .card{
    flex: 2;
    margin: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-card .card img{
    width: 250px;
    height: 350px;
}
.main-card .card h2{
    margin: 15px 0px;
    font-size: 25px;
    font-family: sans-serif;
}
.main-card .card p{
    font-size: 16px;
    line-height: 1.6;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-family: sans-serif;
}